footer {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  position: sticky;
  bottom: 0;
  height: 80px;
}

footer h4 {
  color: #fdcb46;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}

header {
  background-color: #569d88;
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
}

a {
  text-decoration: none;
}

header h1 {
  color: #fdcb46;
  margin: 0em;
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 2.5em;
  text-decoration: none;
}

header {
  background-color: #569d88;
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.body {
  width: 100%;
}

a {
  text-decoration: none;
}

header h1 {
  color: #fdcb46;
  margin: 0em;
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 2.5em;
  text-decoration: none;
}

.menus {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 60%;
}

.menu__front {
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width: 25vw;
  height: 350px;
  margin: 3%;
  border: 0.5px grey solid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 13% 0;
}

.zoom:hover {
  transform: scale(1.5);
  transition: transform 400ms;
  overflow: hidden;
}

body {
  margin: auto;
}

#mentions {
  color: yellow;
  font-size: 1.2em;
  justify-content: space-between;
}

#menu1 {
  background-color: #fce0dc;
  padding: 9% 0;
}

.fab {
  font-size: 2em;
  background: linear-gradient(to right, #be4600 0%, #ebdd5f 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fas {
  font-size: 2em;
  background: linear-gradient(to right, #be4600 0%, #ebdd5f 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#menu1 h2, h3 {
  font-family: "Dancing Script";
}

#menu3 {
  font-family: "Dancing Script";
}

#menu4 {
  font-family: "Dancing Script";
}

#menu2 {
  background-color: #fff5fe;
}

#menu2 h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

@keyframes bars {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.9);
  }
}
.prochainement {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 6px 0 6px 0;
  font-family: Calibri;
  font-size: 1.7rem;
  text-decoration: none;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 10px;
  width: 35%;
  align-items: center;
}
.prochainement__dot {
  display: flex;
  width: auto;
  border-radius: 50%;
  animation: bars 1000ms backwards infinite;
  animation-direction: normal;
}
.prochainement__dot--b1 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 200ms;
}
.prochainement__dot--b2 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 400ms;
}
.prochainement__dot--b3 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 600ms;
}

.mainmenu {
  width: 55%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}

header {
  background-color: #569d88;
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.body {
  width: 100%;
}

a {
  text-decoration: none;
}

header h1 {
  color: #fdcb46;
  margin: 0em;
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 2.5em;
  text-decoration: none;
}

#mentions {
  color: yellow;
  font-size: 1.2em;
  justify-content: space-between;
}

#menu1, #menu2, #menu3, #menu4 {
  font-family: "Dancing Script";
}
#menu1 h3, #menu2 h3, #menu3 h3, #menu4 h3 {
  text-transform: uppercase;
}

#menu1 {
  background-color: #fcdfdb;
}

#menu2 h2 {
  background-color: #fff5fe;
  font-family: "Arial, Helvetica, sans-serif";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #ffc042 0%, #6B0AC5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#menu2 h3 {
  background-color: #fff5fe;
  font-family: "Dancing Script";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #ffc042 0%, #6B0AC5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
}

#menu3 h2 {
  background-color: #fff5fe;
  font-family: "Dancing Script";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #1A99F7, #00F0FC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#menu3 h3 {
  background-color: #fff5fe;
  font-family: "Dancing Script";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #1A99F7, #00F0FC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#menu4 h2 {
  background-color: #fff5fe;
  font-family: "Dancing Script";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #2B8A47, #9effd7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#menu4 h3 {
  background-color: #fff5fe;
  font-family: "Dancing Script";
  background-color: slateblue;
  background-image: linear-gradient(45deg, #2B8A47, #9effd7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@keyframes bars {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.9);
  }
}
.prochainement__dot {
  display: flex;
  width: auto;
  border-radius: 50%;
  animation: bars 1000ms backwards infinite;
  animation-direction: normal;
}

.prochainement__dot--b1 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 200ms;
}

.prochainement__dot--b2 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 400ms;
}

.prochainement__dot--b3 {
  height: 15px;
  background: #fdcb46;
  border-radius: 50%;
  width: 15px;
  animation-delay: 600ms;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  bottom: 0;
  height: 80px;
}
footer h4 {
  align-self: center;
}
footer h4:hover {
  animation: headshake 200ms cubic-bezier(0.6, 0.3, 0.9, 0.2);
}

@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
footer a {
  color: #fdcb46;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  justify-content: space-between;
  align-self: center;
}

body {
  width: 100%;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}

.mainmenuenchant {
  background-color: #fcdfdb;
  font-family: "Dancing Script", cursive;
  width: 80%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}
.mainmenuenchant h3 {
  font-size: 1.5em;
  color: black;
}

.mainmenuchic {
  font-family: "Montserrat Alternates", sans-serif;
  width: 80%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}
.mainmenuchic h3 {
  padding: 0 10px 0 10px;
  font-size: 1.5em;
  white-space: nowrap;
}
.mainmenuchic h1 {
  background: linear-gradient(to right, #ffc042 0%, #6B0AC5 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mainmenupapilles {
  font-family: "Montserrat Alternates", sans-serif;
  width: 80%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
  background-repeat: no-repeat;
}
.mainmenupapilles h3 {
  padding: 0 30px 0 10px;
  font-size: 1.5em;
}

.mainmenuexquisse {
  font-family: "Montserrat Alternates", sans-serif;
  width: 80%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}

h3 {
  padding: 0 30px 0 30px;
  font-size: 1.5em;
}

h5 {
  background: linear-gradient(to right, #030097 0%, #26a5fa 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.5em;
}

.main .mainmenu {
  font-family: "Montserrat Alternates", sans-serif;
  width: 50%;
  margin: auto;
  padding: 40px 12% 40px 12%;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.68);
}

h4 {
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.premier_trait, .premier_trait1, .premier_trait2, .premier_trait3 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.premier_trait::before {
  background-image: url("../images/traitnoir.png");
  background-size: 100%;
  content: "";
  width: 100%;
  height: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 4%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait::after {
  background-image: url("../images/traitnoir.png");
  background-size: 100%;
  content: "";
  width: 100%;
  height: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 4%;
  background-repeat: no-repeat;
  background-position: center;
}
.premier_trait::after h3 {
  margin: 5%;
  white-space: nowrap;
}

.premier_traitvert::before {
  background-image: url("../images/menuvert.png");
  background-size: 100%;
  content: "";
  width: 100%;
  height: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 4%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_traitvert::after {
  background-image: url("../images/menuvert.png");
  background-size: 100%;
  content: "";
  width: 100%;
  height: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 4%;
  background-repeat: no-repeat;
  background-position: center;
}
.premier_traitvert::after h3 {
  margin: 5%;
  white-space: nowrap;
}

.premier_traitvert {
  display: contents;
}

.premier_trait1::before {
  background-image: url("../images/traitmenu4.png");
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait1::after {
  background-image: url("../images/traitmenu4.png");
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait2::before {
  background-image: url("../images/traitmenu4.png");
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait2::after {
  background-image: url("../images/traitmenu4.png");
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait3::before {
  background-image: url("../images/menutrait3.png");
  background-size: 100%;
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

.premier_trait3::after {
  background-image: url("../images/menutrait3.png");
  background-size: 100%;
  content: "";
  width: 40%;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 3%;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: black;
}

.traitgauche {
  border-bottom: 3px solid;
  width: 50%;
  margin: auto;
  margin-left: 0%;
  margin-right: 4%;
}

.traitdroit {
  border-bottom: 3px solid;
  width: 50%;
  margin: auto;
  margin-left: 4%;
}

.trait {
  display: flex;
  text-align: center;
  align-items: center;
}

.appetit {
  color: #CE8800;
}

.papilles {
  color: #663399;
}

.Gourmandises {
  color: #1E90FF;
}

.prix2 {
  text-align-last: start;
}

.prix {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

@media all and (min-width: 1024px) {
  .menus {
    width: 60%;
  }

  .prochainement {
    width: 20%;
  }

  .center {
    background-position: center;
  }

  .generalmenus .menu__front {
    width: 17vw;
  }
}
@media all and (max-width: 1024px) {
  .mainmenuexquisse, .mainmenupapilles, .mainmenuchic, .mainmenuenchant {
    padding: 4% !important;
    width: 100% !important;
  }
  .mainmenuexquisse h3, .mainmenupapilles h3, .mainmenuchic h3, .mainmenuenchant h3 {
    padding: 0%;
  }

  .menus {
    width: 60%;
  }
}
* {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
