
header{
  background-color:#569d88;
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
} 
a{text-decoration:none; }   

header h1{
  color: #fdcb46;
  margin: 0em;
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 2.5em;
  text-decoration: none;
   }
   header {
    background-color: #569d88;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
  }
  .body{
    width:100%;
  }
  
  a {
    text-decoration: none;
  }
  
  header h1 {
    color: #fdcb46;
    margin: 0em;
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 2.5em;
    text-decoration: none;
  }